table {
  width: 99%;
  margin: 10px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #bbbbbb;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  width: 35px;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  display: flex;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 36px;
  box-shadow: 1px 2px 1px 1px #ccc;
  border-radius: 9px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.swatch {
  height: 15px;
  // margin: 2px;
  width: 12px;
  background-color: rgb(47, 75, 124);
}

.example-element-description-attribution {
  opacity: 0.5;
}

.my-tooltip {
  white-space: pre-line;
}

.mat-spinner {
  position: relative;
  margin-left: 40%;
  margin-right: 50%;
}
